{% extends "base.html.twig" %}
{% block title %}
  Business Finder Admin
{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="../../css/style.css" /> 
{% endblock %}


{% block body %}
  <div id="container">
		<div id="header">
			<div class="div1">
				<img src="../../img/logo.svg" alt="arca solutions"/>
			</div>
		</div>
		<div id="content">
      <h1>Business Finder Admin</h1>
			<div class="detalhes">
			  <h3>Business 
			    <a class="btn" href="{{ path('add_empresa_new') }}"><span>Add Business</span></a>
			  </h3>
		   </div>		
			  {%
			   for empresa in empresas %}
           <div class="detalhes">
              <div id="resultados">
                  <ul class="resultados">
                  <li>
                      <span class="cod">{{empresa.id}}</span> 
                      <span class="nomeEmpresa" title="see more" href="{{path('add_empresa_show', {'id': empresa.id}) }}">{{empresa.title}}</span>
                  </li>
                  <li><span class="descricao" title="see more" href="{{path('add_empresa_show', {'id': empresa.id}) }}">{{empresa.description}}</span></li>
                  <li>
                      <a class="btn" href="{{ path('add_empresa_edit', {'id': empresa.id}) }}"><span>edit</span></a>
                      <a class="btn" href="{{ path('add_empresa_show', {'id': empresa.id}) }}"><span>see</span></a>
                  </li>
                <ul>
              </div>
						</div>
         {% endfor %}  
      </div>	
    </div>
{% endblock %}
