{% extends "base.html.twig" %}
{% block title %}
  Business Finder Admin
{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="../../css/style.css" /> 
{% endblock %}

{% block body %}
  <div id="container">
		<div id="header">
			<div class="div1">
				<img src="../../img/logo.svg" alt="arca solutions"/>
			</div>
		</div>
		<div id="content">
      <h1>Business Finder</h1>
		  <div id="resultados">
			<div class="detalhes">
			  <h3>{{empresa.title}}</h3>
			  <span style="top:-18px; position:relative;">Categoria</span>				   
			  <h4>About</h4>
			  <span class="descricao">{{empresa.description}}</span></br>
			  <span class="descricao">{{empresa.address}} {{empresa.city}}/{{empresa.state}}</span><br>
			  <span class="descricao">Telefone: {{empresa.phone}}</span>
        <a href="{{ path('add_empresa_index') }}" class="btn">Return</a>
        <a href="{{ path('add_empresa_edit', {'id': empresa.id}) }}" class="btn">edit</a>
        {{ include('add_empresa/_delete_form.html.twig') }}
			</div>
		 </div>
   </div>
 </div>	
{% endblock %}
