{% extends "base.html.twig" %}
{% block title %}
  About
{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="../css/style.css" /> 
{% endblock %}

{% block body %}
 <div id="container">
		<div id="header">
			<div class="div1">
				<img src="../img/logo.svg" alt="arca solutions"/>
			</div>
		</div>
		<div id="content">
      <h1>Business Finder</h1>
			<div id="msg_erro">{{error}}</div>
			<div id="resultados">
				 <div class="detalhes">
				   <h3>{{empresa.title}}</h3>
			     <h4>About</h4>
					 <span class="descricao">{{empresa.description}}</span></br>
					 <span class="descricao">{{empresa.address}} {{empresa.city}}/{{empresa.state}}</span><br>
					 <span class="descricao">Telefone: {{empresa.phone}}</span>
			   </div>
			 </div>
       <p>
			   <a onclick="window.history.back();" class="btn-button" href="javascript:;"><span>Return</span></a>
				</p>
		</div>
  </div>	
{% endblock %}
